---
downloads: ~/.ansible-downloads/

configure_dotfiles: yes
configure_sudoers: no
configure_terminal: no
configure_osx: no

dotfiles_repo: https://github.com/andrewsanchez/dotfiles-plus.git
dotfiles_repo_accept_hostkey: yes
dotfiles_repo_local_destination: ~/Projects/dotfiles-plus
dotfiles_files:
  - .gitignore_global
  - .gitconfig
  - .spacemacs.d
  - .zshrc
  - .zsh_custom

homebrew_installed_packages:
  - autoconf
  - awscli
  - bash-completion
  - bitwarden-cli
  - coreutils
  - direnv
  - docker-compose
  - doxygen
  - emacs-plus@28
  - fd
  - fzf
  - git
  - gpg
  - graphviz
  - htop
  - httpie
  - hub
  - ispell
  - miniconda 
  - node
  - openssl
  - pandoc
  - postgresql
  - readline
  - ripgrep
  - rustup-init
  - shellcheck
  - sqlite
  - ssh-copy-id
  - tmux
  - tree
  - watch
  - wget
  - youtube-dl
  - zsh-completions

homebrew_taps:
  - homebrew/core
  - homebrew/cask
  - homebrew/cask-fonts
  - d12frosted/emacs-plus

homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  - alfred
  - android-file-transfer
  - anki
  - bitwarden
  - copyq
  - discord
  - docker
  - dropbox
  - evernote
  - flux
  - font-source-code-pro
  - google-backup-and-sync
  - google-chrome
  - iterm2
  - karabiner-elements
  - keyboard-maestro
  - libreoffice
  - mactex
  - notion
  - pycharm
  - skype
  - slack
  - spotify
  - telegram
  - vagrant
  - virtualbox
  - visual-studio-code
  - vlc
  - whatsapp
  - zoom
  - xquartz
  - zulip

# See `geerlingguy.mas` role documentation for usage instructions.
mas_installed_apps: []
mas_email: ""
mas_password: ""

osx_script: "~/.osx --no-restart"

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
composer_packages: []
  # - name: drush
  #   state: present # present/absent, default: present
  #   version: "^8.1" # default: N/A
gem_packages: []
  # - name: bundler
  #   state: present # present/absent/latest, default: present
  #   version: "~> 1.15.1" # default: N/A
npm_packages:
  - name: spaceship-prompt
  - name: js-beautify

pip_packages:
  - name: isort
  - name: black
  - name: importmagic
  - name: epc


# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []

qiime_repos:
  - action-library-packaging
  - busywork
  - conda-channel-resource
  - data302
  - dev-docs
  - docs
  - library
  - library
  - linux-worker-docker
  - q2-alignment
  - q2-composition
  - q2-covid-19
  - q2-cutadapt
  - q2-cutadapt
  - q2-dada2
  - q2-deblur
  - q2-demux
  - q2-diversity
  - q2-diversity-lib
  - q2-emperor
  - q2-feature-classifier
  - q2-feature-classifier
  - q2-feature-table
  - q2-feature-table
  - q2-fragment-insertion
  - q2-gneiss
  - q2-longitudinal
  - q2-metadata
  - q2-phylogeny
  - q2-quality-control
  - q2-quality-filter
  - q2-sample-classifier
  - q2-shogun
  - q2-taxa
  - q2-types
  - q2-vsearch
  - q2cli
  - q2cli
  - q2cwl
  - q2galaxy
  - q2lint
  - q2studio
  - q2templates
  - q2view
  - qiime2
  - qiime2.github.io
  - sphinx-qiime2-theme
  - static-site-infrastructure
  - vm-playbooks

anki_repos:
  - Anki-Android
  - Anki-Simulator
  - AnkiLPCG
  - AnkiPandas
  - Beautify-Anki
  - CrowdAnki
  - Obsidian_to_Anki
  - Spanki
  - anki
  - anki-addons
  - anki-airtable
  - anki-connect
  - anki-docs
  - anki-manual
  - anki-palace-butler
  - anki-school
  - anki__feed_to_anki
  - anki_collab
  - anki_collab
  - awesome-anki
  - bundled-add-ons
  - chrome-anki-quick-adder
  - genanki
  - lsankidb
  - pytest-anki
  - tag-near-duplicates
